# Merge partial data files

In [2]:
import os, sys, re
import pandas as pd
import numpy as np
from datetime import datetime
import matplotlib.pyplot as plt
from glob import glob

In [3]:
all_output_files = glob(os.path.join('.','output','*.xlsx'))

In [4]:
all_output_files

['.\\output\\Private_resale_prices_2020-10-18.xlsx',
 '.\\output\\Private_resale_prices_2020-10-18COSY LODGE.xlsx',
 '.\\output\\Private_resale_prices_2020-10-18RIVERIA GARDENS.xlsx',
 '.\\output\\Private_resale_prices_2020-11-15ZEPHYR PARK.xlsx',
 '.\\output\\Private_resale_prices_2020-12-24new.xlsx',
 '.\\output\\Private_resale_prices_2020-12-25THE GREENWICH.xlsx']

In [5]:
condo1 = pd.read_excel(all_output_files[-2])
condo2 = pd.read_excel(all_output_files[-1])

In [6]:
condo = condo1.append(condo2)

In [7]:
condo.shape

(112657, 15)

In [8]:
condo.head()

,Project Name,Street Name,Type,Postal District,Market Segment,Tenure,Type of Sale,No. of Units,Price,Nett Price,Area (Sqft),Type of Area,Floor Level,Unit Price ($psf),Date of Sale
0,# 1 LOFT,LORONG 24 GEYLANG,Apartment,14,RCR,Freehold,Resale,1,610000,-,581,Strata,06 to 10,1049,Nov-20
1,# 1 LOFT,LORONG 24 GEYLANG,Apartment,14,RCR,Freehold,Resale,1,680000,-,581,Strata,06 to 10,1170,Nov-20
2,# 1 LOFT,LORONG 24 GEYLANG,Apartment,14,RCR,Freehold,Resale,1,985000,-,936,Strata,06 to 10,1052,Apr-20
3,# 1 LOFT,LORONG 24 GEYLANG,Apartment,14,RCR,Freehold,Resale,1,615000,-,549,Strata,06 to 10,1120,Dec-19
4,# 1 LOFT,LORONG 24 GEYLANG,Apartment,14,RCR,Freehold,Resale,1,675000,-,570,Strata,01 to 05,1183,Sep-19

In [11]:
output_path = os.path.join('.','output',f'Condo_resale_prices_{datetime.now().date()}.xlsx')
condo.to_excel(output_path)